{% raw %}
<div class="photo_view column">
    <div class="floating_close window_control">
        <button class="floating_close_button">Done</button>
    </div>
    <div class="borders">
        <div class="borders2"></div>
    </div>
    <img src="http://photos.vinyett.com/{{ photo.photo_path_width_980 }}" class="photo_photo">
    <div class="photo_toolbar window_control"></div>
</div>
<div class="photo_content_view pbody">
    <div class="column inner_photo_view">
    </div>
</div>
{% endraw %}