/web/bundles/
/web/css/
/web/js/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/sessions/*
/app/config/parameters.ini

/vendor/*
# Do not ignore special vendors with custom edits

!/vendor/vinyett/*
!/vendor/nemesisptime/*

!/vendor/doctrine-extensions-taggable
!/vendor/doctrine-extensions-taggable/
!/vendor/doctrine-extensions-taggable/*
!/vendor/doctrine-extensions-taggable/**/*

!/vendor/pel
!/vendor/pel/
!/vendor/pel/*
!/vendor/pel/**/*

src/Vinyett/ProfileBundle/Resources/public/js/profile.old.js

.DS_Store