{% extends "::body.html.twig" %}

{% block title %}Modify Account Settings{% endblock %}

{% block content %}
    <style>
        body { 
            background-color: #eee !important;
        }
    </style>

    <div class="body account_body">
    
        <div class="settings">
            <h2>Update password</h2>
            <div class="submenu">
                <a href="#">Change account information</a>
            </div>
            <div class="setting_field">
                <form action="{{ path('account_password') }}" method="post">
                {% if updated_info|default(false) %}
                    <div class="updated_confirm">
                        Your password was updated!
                    </div>
                {% endif %}
                <p>
                    {{ form_widget(form) }}
                </p>
                <p>
                    <button type="submit" class="button">Save password</button>
                </p>
                </form>
            </div>
        </div>
        
    </div>
    
{% endblock %}

{% block handlebars %}
    {{ parent() }}
{% endblock %}


