<div class="footer">
    <a href="{{ path("homepage")}}">Vinyett</a> <a href="{{ path("about") }}">About</a> <a href="{{ path("faq") }}">FAQ</a> {% if app.user %}<a href="#" onclick="showClassicWidget(); return false;">Feedback & Support</a>{% endif %}
</div>