{% raw %}
    <div class="feedback_header">
        Got something to say?
    </div>
    <div class="feedback_content">
        <p>
            Have questions, comments, of concerns? We here at Vinyett at more than glad to hear what you've got to say and every bit of help steers us in the right direction!
        </p>
        <p>
            <textarea class="text_input feedback" placeholder="So what do you have to say?" name="feedback" id="feedback_field" />
        </p>
        <p class="buttons">
            <button class="button cancel_button" type="cancel">Nevermind</button>
            <button class="button send_button" type="submit">Send Feedback</button>
        </p>
    </div>
{% endraw %}