<table style="width: 80%; margin: 10px auto; background-color:#eee; border: 1px solid #ddd; font-size:16px; line-height:18px; font-family:arial,'times',serif;">
    <tr>
        <td style="text-align:center;">
            <img src="http://i47.tinypic.com/2953bqp.jpg" style="width:282px; height:150px;" alt="Hello from Vinyett!" />
        </td>
    </tr>
    
    <tr>
        
        <td style="padding:0px 40px 40px 40px;">
            {% block content %}{% endblock %}
        </td>
    </tr>
</table>