{% macro case(photo_url, photo) %}
    <div class="collection_case">
    <div class="cover">
        <div class="borders">
            <div class="borders2"></div>
        </div>
        <img src="{{ photo_url }}" />
    </div>
</div>
{% endmacro %}