<div class="activityitem action chunk">
    <div class="column_icon">
        <img src="{{ asset('images/profile/starred_full.png') }}" />
    </div>
    <div class="action_column">
        {{ implode_array_into_listphrase(activity_find_users(resources)) }} starred this photo.
    </div>
</div>