{% extends "CoreServicesBundle:Mail:base.html.twig" %}
{% block content %}
<p>
    <h2>We've got you down!</h2>
</p>
<p>
    Thanks for showing your interest in <a href="http://vinyett.com/" style="color:#4885cb;">Vinyett</a>, a growing community for taking, sharing, and discovering photos across the world. 
</p>
<p>
    At the moment we're working out some bugs and only letting a few people on the site, but as soon as we release more invitations, we'll let you know!
</p>
<p>
    You'll hear from us soon,
    <br />The Vinyett Team
</p>
{% endblock %}