{% extends "CoreServicesBundle:Handlebars:base.html.twig" %}

{% block handlebars_body %}
{% raw %}

    <div class="photo_cover_holder">{{#if cover_photo}}<img src="http://photos.vinyett.com/{{cover_photo.photo_path_square_120}}" class="collection_image" />{{/if}}</div>
    <p class="collection_description">
        (Drop a cover photo above)
    </p>
     
    <div class="drawer_content">
            <input type="text" class="text_input collection_title" placeholder="Enter a title" value ="{{title}}" />
            <textarea class="text_input collection_desc" style="height:100px;" placeholder="Enter a description">{{description}}</textarea>
        
            <p>
                <button type="submit" class="button create_new">Save</button> <button type="button" class="button cancel_new_set">Cancel</button>
            </p>
            
            <input type="hidden" class="cover_photo_field" name="cover_photo" value="{{cover_photo.id}}" />
    </div>

{% endraw %}
{% endblock %}