{% extends "CoreServicesBundle:Handlebars:base.html.twig" %}

{% block handlebars_body %}

{% raw %}

    <div>
        <img src="http://photos.vinyett.com/{{ photo_path_width_500 }}" />
    </div>

{% endraw %}

{% endblock %}