<div id="edit_profile_photo_content" style="display:none;">
    <div class="follow_list_options">
        <ul>
            <li>
                Choose a new photo
            </li>
            <li>
                Upload a photo
            </li>
            <li onclick="allow_profile_photo_reposition();">
                Reposition photo
            </li>
            <li>
                Remove photo
            </li>
        </ul>
    </div>
</div>